<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New Listing</h1>
    <form  method="post" action="/listings/<%=listing._id%>?_method=PUT">
        <input type="text" value="<%=listing.title%>" name="title">
        <br>
        <textarea name="description" id=""><%=listing.description%></textarea>
        <br>
        <input type="text" name="image" value="<%=listing.image.url%>">
        <br>
        <input type="number" name="price" value="<%=listing.price%>">
        <br>
        <input type="text" name="country " value="<%=listing.country%>">
        <br>
        <input type="text " name="location"value="<%=listing.location%>">
        <br>
        <button>ADD</button>
    </form>
</body>
</html> 